.single-faq-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.question-box:hover {
    cursor: pointer;
}

.question-text {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    color: gray;
}

.icon-arrow .active {
    transform: rotate(180deg)
}

.answer-text {
    width: 100%;
    font-size: .9rem;
    color: gray;
    line-height: 1.2rem;
    margin-top: 0;
    margin-bottom: 5%;
}

.off {
    display: none;
}

hr {
    width: 100%;
    margin-top: 0;
    margin-bottom: 5%;
}

